.categories {
  margin-top: 33px;
  max-height: 550px;
  position: sticky;
  top: 33px;
  margin-right: 1%;
  color: #2c2c2c;

  .category {
    width: 185px;
    height: 46px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      width: 185px;
      height: 16px;
      font-size: 16px;
    }
  }
  .category:hover {
    background-color: #f6eb8c;
  }

  .category:active {
    background-color: #739010;
    color: #fff;
  }
}
