header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 992px) {
    display: contents;
  }

  .header-logo {
    display: flex;
    align-items: center;

    @media (max-width: 1400px) {
      justify-content: flex-start;
    }

    @media (max-width: 992px) {
      max-width: 75%;
      flex-direction: column;
      justify-content: flex-start;
    }

    img {
      margin-right: 15px;
      height: 45px;
      width: 90px;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }

    h1 {
      height: 54px;
      width: 715px;
      font-size: 48px;
      color: #ffffff;

      @media (max-width: 992px) {
        max-width: 100%;
        min-height: 100%;
      }

      @media (max-width: 768px) {
        max-width: 400px;
        min-height: 150px;
      }

      h4 {
        box-sizing: border-box;
        height: 36px;
        width: 715px;
        font-size: 24px;
        color: #a7a7a7;

        @media (max-width: 992px) {
          max-width: 75%;
          height: 20px;
        }

        @media (max-width: 768px) {
          max-width: 400px;
          height: 60px;
        }
      }
    }
  }

  .header-icons {
    display: flex;
    align-items: center;

    @media (max-width: 1400px) {
      flex-wrap: wrap;
    }

    @media (max-width: 992px) {
      position: absolute;
      top: 40px;
      right: 8%;
      flex-wrap: wrap;
      z-index: 2;
    }

    img {
      margin-right: 35px;
      height: 50px;
      width: 50px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }

    .button-cart {
      height: 50px;
      width: 150px;
      border-radius: 30px;
      background-color: #739010;
      cursor: pointer;
      color: #f6eb8c;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }

      .button-cart__delimiter {
        width: 1px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.25);
        margin-left: 14px;
        margin-right: 14px;
      }

      svg {
        margin-right: 2px;
      }
    }
  }
}
