@import "./button";
@import "./Drawer";

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("./fonts/Proxima Nova Black"), local("ProximaNova-Black"),
    url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Black.woff") format("woff"),
    url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("./fonts/Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Bold.woff") format("woff"),
    url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.eot");
  src: local("./fonts/Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Regular.woff") format("woff"),
    url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Extrabld.eot");
  src: local("./fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"),
    url("./fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Extrabld.woff") format("woff"),
    url("./fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Proxima Nova";
  color: #ffffff;
  background: url("../../public/img/OUT.jpg");
  position: relative;

  .wrapper {
    padding: 93px 8% 0px;

    header {
      display: flex;
      justify-content: space-between;

      .header__logo {
        display: flex;
        align-items: center;

        img {
          margin-right: 15px;
          height: 45px;
          width: 90px;
        }

        h1 {
          margin: 0;
          height: 54px;
          width: 715px;
          font-size: 48px;
        }

        h4 {
          margin: 0;
          height: 36px;
          width: 715px;
          font-size: 24px;
          color: #a7a7a7;
        }
      }

      .header__icons {
        display: flex;
        align-items: center;

        img {
          margin-right: 35px;
          height: 50px;
          width: 50px;
        }

        .button__cart {
          height: 50px;
          width: 150px;
          border-radius: 30px;
          background-color: #739010;
          cursor: pointer;
          color: #f6eb8c;
          display: flex;
          align-items: center;
          justify-content: center;

          .button__delimiter {
            width: 1px;
            height: 25px;
            background-color: rgba(255, 255, 255, 0.25);
            margin-left: 14px;
            margin-right: 14px;
          }

          svg {
            margin-right: 2px;
          }
        }
      }
    }
  }
  //

  .content__top {
    margin-top: 30px;
    margin-left: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content__title {
      h3 {
        margin: 0;
        height: 40px;
        width: 196px;
        font-size: 32px;
      }
    }

    .sort {
      position: relative;

      .sort__label {
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }

        b {
          margin-right: 8px;
        }

        span {
          color: #f6eb8c;
          border-bottom: 1px dashed #f6eb8c;
          cursor: pointer;
        }
      }
    }

    .sort__popup {
      position: absolute;
      right: 0;
      margin-top: 5px;
      background: #ffffff;
      -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      overflow: hidden;
      padding: 5px 0;
      width: 160px;
      color: #2c2c2c;

      ul {
        overflow: hidden;
        padding: 0;

        li {
          list-style-type: none;
          padding: 12px 20px;
          cursor: pointer;
        }

        li:active,
        li:hover {
          background: rgba(115, 144, 16, 0.25);
        }

        li.active {
          font-weight: bold;
          color: #739010;
        }
      }
    }
  }

  .content {
    display: flex;

    .categories {
      margin-top: 33px;
      max-height: 550px;
      position: sticky;
      top: 33px;
      margin-right: 1%;
      color: #2c2c2c;

      .category {
        width: 185px;
        height: 46px;
        margin-bottom: 15px;
        background-color: #f9f9f9;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          width: 185px;
          height: 16px;
          font-size: 16px;
        }
      }
      .category:hover {
        background-color: #f6eb8c;
      }

      .category:active {
        background-color: #739010;
        color: #fff;
      }
    }

    .products {
      display: flex;
      flex-wrap: wrap;

      .product {
        margin: 35px 38px;
        width: 280px;
        height: 350px;

        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.02);
        }

        img {
          height: 280px;
          width: 100%;
          object-fit: cover;
          border: 1px solid #ffffff;
        }

        &__list {
          font-weight: bold;

          h4 {
            margin-top: 16px;
            width: 280px;
            height: 24px;
            text-align: center;
            font-size: 20px;
          }

          &__info {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            b {
              height: 27px;
              width: 118px;
              text-align: center;
              font-size: 22px;
            }

            button {
            }
          }
        }
      }
    }
  }

  //
  footer {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding: 0 14%;
    background-color: #333333;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: light;
    z-index: 1;

    .footer__left {
      display: flex;
      flex: 1.45;
      justify-content: space-around;
      font-size: 20px;

      &__phone {
        display: flex;
        align-items: center;
        height: 48px;

        a {
          margin: 5px;
          width: 200px;
        }
      }

      &__address {
        height: 48px;
        width: 280px;
        display: flex;
        align-items: center;
        text-align: center;
      }

      &__times {
        height: 48px;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    .footer__right {
      display: flex;
      flex: 1;
      justify-content: right;

      &__links {
        display: flex;
        align-items: center;
        img {
          margin-left: 44px;
        }
      }
    }
    img {
      height: 20px;
      width: 20px;
    }
  }
}
